*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

code{
  font-size: 2rem;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: plum;
  display: grid;
  grid: "header header header" auto
  "nav nav nav" auto
  "aside main main" 1fr 
  "footer footer footer" auto;
  padding: 16px;
  gap: 10px;
}

.container > * {
  width: 100%;
  padding: 16px;
  background-color: palegreen;
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}
aside{
  grid-area: aside;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}
